{block content}

    <div class="container rounded bg-brand my-5 p-4 p-md-5 shadow-sm">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-6">

                <h1 class="text-white text-center mb-3">🚀 Vytvořit nový ticket!</h1>

                <p class="text-white-75 text-center fst-italic mb-4 px-md-3">
                    Máte nápad ✨, objevili jste divokou chybu 🐞, nebo jen potřebujete pomoct?
                    Vyplňte tento rychlý formulář, a webmaster ️🦸‍♂️ se na to hned vrhne!
                </p>

                {control ticketForm}

            </div>
        </div>
    </div>

{/block}