database:
	dsn: 'mysql:host=mariadb114.r4.websupport.cz;dbname=OnCi8KaN'
	user: 676Mmfzi
	password: 'zR2MmS8OU;8w06_}$pey'
	options:
	    lazy: yes
	autowired: true

mail:
	smtp: true
	host: smtp.websupport.cz
	port: 465
	username: seto@tomek.wtf
	password: "S*9D_;JkS&H{7+g3w?`o"
	encryption: ssl
