<!doctype html>
<html lang="cs" class="h-100">
<style>
    .nav-link.active-page {
        display: none;
    }

    .navbar-collapse {
        text-align: right;
        font-weight: bold;
    }
</style>
{*  head part *}
{include '1header.latte'}

<body>
<div class="container" style="height: 100vh;">

    {*  navbar part *}
    {include '2navbar.latte'}

    {* all alert and messeage up to content *}
    <div n:foreach="$flashes as $flash" n:class="alert, alert-info, $flash->type">{$flash->message}</div>

    {*  Begin page content *}
    <div style="flex-grow: 1;">
        {include content}
    </div>

    {*  scrip part *}
    {block scripts} <script src="{$basePath}/js/bootstrap.bundle.min.js" defer></script> {/block}

    {*  footer part *}
    {include '3footer.latte'}
</div>
</body>
</html>
