{block content}
<section>
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="my-5 p-3 bg-brand text-white" style="opacity: 0.9;">
                <h2 class="text-center">edit UNI release</h2>
                {control webForm}
            </div>
        </div>
    </div>
</section>
                