{block title}Podmínky služby{/block}

{block content}

    <div class="container mt-5 mb-5 bg-green p-4 p-md-5 rounded shadow-sm">

        <h1 class="mb-4">Podmínky služby</h1>
        <p><em>Poslední aktualizace: 1. dubna 2025</em></p>

        <p>Vítejte na farnostbartolomej.cz (dále jen "Webová stránka"). Tyto Podmínky služby ("Podmínky") upravují vaše používání Webové stránky provozované Římskokatolickou farností Plzeň u katedrály sv. Bartoloměje.</p>

        <p>Před použitím Webové stránky si prosím pečlivě přečtěte tyto Podmínky. Přístupem k Webové stránce nebo jejím používáním souhlasíte s těmito Podmínkami. Pokud s jakoukoli částí podmínek nesouhlasíte, nesmíte na Webovou stránku přistupovat.</p>

        <h2>1. Účty 🧑‍💻</h2>
        <p>Když si u nás vytvoříte účet, musíte vždy poskytnout přesné, úplné a aktuální informace. V současné době shromažďujeme vaše zvolené jméno/přezdívku a emailovou adresu pro vytvoření a správu účtu.</p>
        <p>Jste zodpovědní za ochranu hesla, které používáte k přístupu na Webovou stránku, a za veškeré aktivity nebo akce pod vaším heslem 🔒. Souhlasíte s tím, že nebudete své heslo sdělovat žádné třetí straně. O jakémkoli porušení bezpečnosti nebo neoprávněném použití vašeho účtu nás musíte okamžitě informovat.</p>
        <p>Jako uživatelské jméno nesmíte použít jméno jiné osoby nebo subjektu, které není zákonně k dispozici, jméno nebo ochrannou známku, na kterou se vztahují práva jiné osoby nebo subjektu, než jste vy, bez příslušného povolení, ani jméno, které je jinak urážlivé, vulgární nebo obscénní.</p>

        <h2>2. Používání Webové stránky ✅</h2>
        <p>Souhlasíte s tím, že nebudete Webovou stránku používat k žádnému účelu, který je nezákonný nebo zakázaný těmito Podmínkami.</p>
        <p>Souhlasíte s tím, že se nebudete zapojovat do žádné z následujících zakázaných činností 🚫:</p>
        <ul>
            <li>Používání služby k jakémukoli nezákonnému účelu nebo v rozporu s jakýmkoli místním, státním, národním nebo mezinárodním právem (včetně českých a EU předpisů).</li>
            <li>Pokusy o narušení integrity nebo bezpečnosti systému nebo o rozluštění jakýchkoli přenosů na servery nebo ze serverů provozujících Webovou stránku.</li>
            <li>Nahrávání neplatných dat, virů, červů nebo jiných škodlivých agentů prostřednictvím Webové stránky.</li>
            <li>Shromažďování nebo získávání jakýchkoli osobně identifikovatelných informací, včetně názvů účtů, z Webové stránky bez souhlasu.</li>
            <li>Vydávání se za jinou osobu nebo jiné zkreslení vašeho spojení s osobou nebo subjektem.</li>
            <li>Narušování řádného fungování Webové stránky.</li>
            <li>Přístup k jakémukoli obsahu na Webové stránce prostřednictvím jakékoli technologie nebo prostředků jiných, než které poskytuje nebo povoluje Webová stránka.</li>
        </ul>

        <h2>3. Duševní vlastnictví 💡</h2>
        <p>Webová stránka a její původní obsah (s výjimkou obsahu poskytnutého uživateli, pokud existuje), funkce a funkčnost jsou a zůstanou výhradním vlastnictvím Římskokatolické farnosti Plzeň u katedrály sv. Bartoloměje a jejích poskytovatelů licencí. Webová stránka je chráněna autorskými právy, ochrannými známkami a dalšími zákony České republiky i cizích zemí ©.</p>

        <h2>4. Odkazy na jiné webové stránky 🔗</h2>
        <p>Naše Webová stránka může obsahovat odkazy na webové stránky nebo služby třetích stran, které nejsou vlastněny ani kontrolovány Římskokatolickou farností Plzeň u katedrály sv. Bartoloměje.</p>
        <p>Římskokatolická farnost Plzeň u katedrály sv. Bartoloměje nemá žádnou kontrolu nad obsahem, zásadami ochrany osobních údajů nebo postupy jakýchkoli webových stránek nebo služeb třetích stran a nenese za ně žádnou odpovědnost. Dále berete na vědomí a souhlasíte s tím, že Římskokatolická farnost Plzeň u katedrály sv. Bartoloměje nebude přímo ani nepřímo odpovědná za jakoukoli škodu nebo ztrátu způsobenou nebo údajně způsobenou používáním nebo spoléháním se na jakýkoli takový obsah, zboží nebo služby dostupné na jakýchkoli takových webových stránkách nebo službách nebo jejich prostřednictvím. ⚠️</p>
        <p>Důrazně vám doporučujeme, abyste si přečetli obchodní podmínky a zásady ochrany osobních údajů jakýchkoli webových stránek nebo služeb třetích stran, které navštívíte.</p>

        <h2>5. Ukončení 🚪</h2>
        <p>Můžeme okamžitě, bez předchozího upozornění nebo odpovědnosti, dle vlastního uvážení ukončit nebo pozastavit váš účet a zamezit přístupu k Webové stránce z jakéhokoli důvodu a bez omezení, včetně, ale nikoli výhradně, porušení Podmínek.</p>
        <p>Pokud si přejete svůj účet ukončit 👋, můžete jednoduše přestat používat Webovou stránku. [Přidejte pokyny, jak smazat účet, pokud tato funkce existuje, jinak tento text v závorkách odstraňte nebo uveďte, že smazání není samoobslužné].</p>
        <p>Všechna ustanovení Podmínek, která by ze své povahy měla přežít ukončení, zůstanou v platnosti i po ukončení, včetně, bez omezení, ustanovení o vlastnictví, zřeknutí se záruk, odškodnění a omezení odpovědnosti.</p>

        <h2>6. Zřeknutí se odpovědnosti ⚖️</h2>
        <p>Používání Webové stránky je na vaše výhradní riziko. Webová stránka je poskytována na bázi "TAK JAK JE" a "JAK JE K DISPOZICI". Webová stránka je poskytována bez záruk jakéhokoli druhu, výslovných nebo předpokládaných, včetně, ale nikoli výhradně, předpokládaných záruk prodejnosti, vhodnosti pro konkrétní účel, neporušení práv třetích stran nebo průběhu plnění.</p>
        <p>Římskokatolická farnost Plzeň u katedrály sv. Bartoloměje nezaručuje, že a) Webová stránka bude fungovat nepřerušovaně, bezpečně nebo bude k dispozici v jakémkoli konkrétním čase nebo místě; b) jakékoli chyby nebo vady budou opraveny; c) Webová stránka je bez virů nebo jiných škodlivých součástí; nebo d) výsledky používání Webové stránky splní vaše požadavky. ❗</p>

        <h2>7. Omezení odpovědnosti 📉</h2>
        <p>V žádném případě nebude Římskokatolická farnost Plzeň u katedrály sv. Bartoloměje, ani její ředitelé, zaměstnanci, partneři, zástupci, dodavatelé nebo přidružené společnosti, odpovědná za jakékoli nepřímé, náhodné, zvláštní, následné nebo sankční škody, včetně, bez omezení, ztráty zisku, dat, použití, dobré pověsti nebo jiných nehmotných ztrát, vyplývajících z (i) vašeho přístupu k Webové stránce, jejího používání nebo nemožnosti k ní přistupovat nebo ji používat; (ii) jakéhokoli jednání nebo obsahu jakékoli třetí strany na Webové stránce; (iii) jakéhokoli obsahu získaného z Webové stránky; a (iv) neoprávněného přístupu, použití nebo změny vašich přenosů nebo obsahu, ať už na základě záruky, smlouvy, deliktu (včetně nedbalosti) nebo jakékoli jiné právní teorie, bez ohledu na to, zda jsme byli informováni o možnosti takové škody, a to i v případě, že se zjistí, že náprava uvedená zde nesplnila svůj základní účel.</p>

        <h2>8. Rozhodné právo 🇨🇿</h2>
        <p>Tyto Podmínky se řídí a vykládají v souladu se zákony České republiky, bez ohledu na kolizní normy.</p>

        <h2>9. Změny ✏️</h2>
        <p>Vyhrazujeme si právo, dle vlastního uvážení, kdykoli upravit nebo nahradit tyto Podmínky. Pokud se jedná o podstatnou revizi, pokusíme se poskytnout alespoň 30denní upozornění před nabytím účinnosti jakýchkoli nových podmínek. Co představuje podstatnou změnu, bude stanoveno dle našeho výhradního uvážení. 📢</p>
        <p>Pokračováním v přístupu k naší Webové stránce nebo jejím používání poté, co tyto revize nabudou účinnosti, souhlasíte s revidovanými podmínkami. Pokud s novými podmínkami nesouhlasíte, přestaňte prosím Webovou stránku používat.</p>

        <h2>10. Kontaktujte nás 📧</h2>
        <p>Pokud máte jakékoli dotazy ohledně těchto Podmínek, kontaktujte nás prosím na: <strong>salve@farnostbartolomej.cz</strong></p>
    </div>
{/block}