{block content}
    <section class="bg-green rounded p-4 my-5 text-center">
        <p class="text-white">You have been signed out.</p>
        <a class="btn btn-light" n:href=":Front:Home:default">Continue to homepage</a>
    </section>
{/block}